<div class="left-text">
  <h1><%= @program.name %></h1>
    <% @program.exercises.each do |exercise| %>
      <div class="exercise-list">
        <ul>
          <%= link_to (exercise.name), exercise_path(exercise) %>
        </ul>
      </div>
   <% end %>
</div>
