<div class="trophy-case-container">
  <div class="row">
    <div class="columns small-12 text-center">
      <h1 class="text-white"><%= @user.name %>, keep it up! </h1>
      <% if current_user %>
        <h3 class="text-white">Did you sit up straight today?:</h3>
        <h3><%= link_to 'Yes, I kicked booty', user_checkins_path(@user), class: 'checkin' %>
        <span class= 'checkin-total'>
          <% @user.checkins.each do |checkin| %>
            <%= checkin.count %> days total
          <% end %>
        </span></h3>
      <% end %>
    </div>
  </div>
    <div class="row trophy">
      <% current_user.badges.each do |badge| %>
      <%= image_tag (badge.custom_fields[:image]) %>
      <% end %>
  </div>
  </ul>
</div>
