<div class="container">
  <%= form_for @user do |f| %>
        <%= f.label :phone, "Add your number, to start receiving texts" %>
        <%= f.text_field :phone, class: "text-field" %>
        <%= f.submit "Submit", class: "submit-form" %>
  <% end %>
</div>
