<h2>Welcome to PosturePal</h2>
<% if current_user %>
  <h4>Please click a program below to get started</h4>
  <ul>
    <div class="left-text">
    <% @exercises.each do |exercise| %>
      <li><%= link_to exercise.name, exercise_path(exercise) %></li>
      <br>
    <% end %>
  </ul>
<% end %>

<div class="info-box-left">
  <h1> Receive alerts </h1>
</div>

<div class="bell">
  <%= fa_icon "bell 3x" %>
</div>

<div class="info-box-center">
     <h1> Learn the exercises  </h1>
</div>

<div class="book">
  <%= fa_icon "book 3x" %>
</div>

<div class="info-box-right">
     <h1> Stand tall </h1>
</div>

<div class="thumbs-up">
  <%= fa_icon "thumbs-up 3x" %>
</div>
