<div class="picture-container">

<h2>Welcome to PosturePal</h2>
<% if current_user %>
  <h4>Please click a program below to get started</h4>
  <ul>
    <div class="left-text">
    <% @exercises.each do |exercise| %>
      <li><%= link_to exercise.name, exercise_path(exercise) %></li>
      <br>
    <% end %>
  </ul>
<% end %>
</div>
<div class="row fullWidth tall-box">
  <div class="columns small-4 text-center">
    <h1> Receive alerts </h1>
    <%= fa_icon "bell 3x" %>
  </div>
  <div class="columns small-4 text-center">
   <h1> Learn the exercises  </h1>
   <%= fa_icon "book 3x" %>
  </div>
  <div class="columns small-4 text-center">
   <h1> Stand tall </h1>
    <%= fa_icon "thumbs-up 3x" %>
    </div>
</div>
