/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import "font-awesome";

.left-text {
  text-align: left;
  font-family: 'Poiret One', cursive;
  padding-left: 50px;
  padding-top: 50px;
}

.picture-container{
  background-image: url('http://wallpaperpassion.com/upload/13897/yoga-wallpaper.jpg');
  // background-repeat:no-repeat;
  // background-size: 100% 100%;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100vh;
   background-position: center center;
   position: relative;
}

body {
  font-family: 'Poiret One', cursive;
 }

 h1{
   font-family: 'Poiret One', cursive;
 }

 h2{
    font-family: 'Poiret One', cursive;
    padding: 20px;
 }

 h4{
   font-family: 'Poiret One', cursive;
   padding: 20px;
   padding-left: 30px;
 }

 ul {
  list-style-type: none;
  font-family: 'Poiret One', cursive;
}

.field {
  padding-bottom: 0;

  em {
    font-size: 8px;
  }
}

.shared-links {
  padding-left: 25px;
}

.tall-box {
  margin-top: 50px;
  padding-bottom: 50px;
  // position: absolute;
}


.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
