
<% if current_user %>
  <div class="row exercise">
    <div class="columns small-6 text-center">
      <h1><%= @exercise.name %></h1>
      <ul>
        <li><%= @exercise.description %></li>
        <li><%= @exercise.repetition %></li>
    </ul>
    </div>
    <div class="columns small-6 text-center">
      <%= image_tag(@exercise.image) %>
    </div>
  </div>
<% else %>
  <% flash[:notice] = "Please log in to view content" %>
<% end %>
</div>
