<div class="left-text exercise-header">
  <h1><%= @exercise.name %></h1>
  <ul>
    <li><%= @exercise.description %></li>
    <li><%= @exercise.repetition %></li>
    <li><%= @exercise.image %></li>
  </ul>
</div>
