
<% if current_user %>
<div class="row">
  <div class="columns small-8 text-center">
  <div class="left-text exercise-header">
    <h1><%= @exercise.name %></h1>
    <ul>
      <li><%= @exercise.description %></li>
      <li><%= @exercise.repetition %></li>
      <li><%= image_tag(@exercise.image) %></li>
    </ul>
  </div>
</div>
<% else %>
  <% flash[:notice] = "Please log in to view content" %>
<% end %>
</div>
